<figure class="card">
    <div class="card__hero">
        <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card__img">
    </div>
    <h2 class="card__name">{%COUNTRYNAME%}</h2>
    <p class="card__detail"><b>Places:</b>  {%PLACESVISITED%}</p>
    <p class="card__detail"><b>Suggested Duration: </b>  {%SUGGESTEDDURATION%}</p>
    <div class="card__footer">
        <p class="card__price"><b>Estimated Cost: </b> ${%PRICE%}</p>
        <a href="/country?id={%ID%}" class="card__link">More Details <span class="emoji-right">👉</span></a>
    </div>
</figure>